/*Модальное окно*/
.modal_win {
    z-index: 99995;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 99995;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    /*-webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;*/
}

.modal--align-top {
    align-items: flex-start;
    padding-top: 65px;
}

.modal_win_bg {
    background: rgba(0,0,0,.75);
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.modal_win_dialog {
    max-width: 800px;
    padding: 1.2rem;
    margin: auto;
}

.modal_win_content {
    z-index: 999999;
    overflow: hidden;
    will-change: transform, opacity;
    position: relative;
    padding: 15px;
    background: #fbfbfb;
    /* border-radius: 5px; */
    background-clip: padding-box;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 0 11px rgba(0,0,0,.25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    opacity: 1;
    -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal_win_close {
    z-index: 99999;
    cursor: pointer;
}

.modal_win_trigger:hover {
    background: #e5d3d6;
}

.demo-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    width: 17px;
    height: 17px;
    /* background-image: url('../images/cartDel.png'); */
    background-position: center top;
    border-radius: 50%;
}

.new-close{
	    color: #ff8ab9;
}

.new-close:hover{
	    /* color: red; */
		color: #00acfa;
}

    .demo-close:hover {
        background-position: center bottom;
    }

.modal_width_dialog {
    min-width: 1200px !important;
    max-width: 1600px !important;
}

.modal_win_footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/*Модальное окно*/